compile_commands.json
build
build-*
data/

.clangd
.cache
.vscode
.cquery_cache
*.code-workspace
examples/remote-imgui/build_x64
examples/remote-imgui/client/build_simple
examples/remote-imgui/client/build_real
